body {
  background-color: #003f63;
  text-align: center;
}
.loading-indicator {
  width: 50px;
  height: 50px;
  margin: 200px auto;
  border: 10px solid rgb(0, 128, 0, 0.5);
  border-radius: 50%;
  border-top-color: yellow;
  border-right-color: red;
  border-left-color: lightblue;
  animation: spin 1s infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* home page */
.imagestyle {
  text-align: center;
  max-width: 250px;
  border: 5px solid white;
  background-color: lightblue;
  border-radius: 30px;
  padding: 20px;
  margin: 10px 20px;
}
h1 {
  color: yellow;
}
.error {
  margin: 20px auto;
  max-width: 300px;
  background-color: red;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
}

/* details page */
.country-details {
  text-align: center;
}
.country-details img {
  max-width: 400px;
  border-radius: 10px;
}
.country-info {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  border: 5px solid grey;
  border-radius: 10px;
}
.country-info p {
  border-bottom: 2px solid grey;
}

/* contact page */
.formcontainer {
  margin: 60px auto;
  max-width: 50%;
  min-height: 300px;
  background-color: #90cbfb;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.validation-error {
  display: none;
  color: red;
}
